@import (reference) "~rework";

.view-dictionary {
  overflow: hidden;
  height: 100%;

  & > h2 {
    font-size: 18px;
    color: #b2b2b2;
    padding: 20px 20px 10px;
    text-transform: uppercase;
  }

  &-container {
    height: calc(100% - 52px);
  }
}

.waterfall {
  position: relative;
  margin: 0 10px;

  & > li {
    position: absolute;
    width: 220px;
    margin: 10px;
    font-size: 12px;
    background-color: #343536;
    border: 1px solid #1c1c1c;

    h2 {
      .clearfix();
      padding: 8px 10px;
      font-size: 14px;
      text-align: left;
      color: #b2b2b2;

      .total {
        display: block;
        float: right;
        font-size: 12px;
      }
    }

    ul {}
    li {
      position: relative;
      height: 54px;
      border: 1px solid #1c1c1c;
      margin: -1px;
      color: #b2b2b2;

      // 1: current
      // 2: new
      // 3: deprecated
      .api-status-1 {}
      .api-status-2 {}
      .api-status-3 {
        opacity: 0.5;
        .name {
          text-decoration: line-through;
        }
      }

      span {
        display: block;
      }

      .name {
        width: 200px;
      }

      .description {
        color: rgba(90,90,90,1);
      }

      .status {
        position: absolute;
        right: 10px;
        top: 3px;
        display: inline-block;
        padding: 2px 4px;
        line-height: 1;
        color: #fff;
        background-color: #24afff;
        border-radius: 3px;
        margin-top: 5px;
      }

      a {
        .clearfix();
        display: block;
        height: 100%;
        .text-overflow-nowrap-ellipsis();
        padding: 5px 10px;
        color: #b2b2b2;
        background-color: rgba(61,61,61,1);


        &:hover {
          background-color: rgba(61,61,61,.5);
        }

      }
    }

  }

}
