
.view-tag {
  li {
    margin-bottom: 20px;

    & > div {
      margin-bottom: 20px;
    }
  }

  ul {
    column-count: 3;
    column-gap: 20px;

    li {
      margin-bottom: 10px;
    }
  }
}
