<!DOCTYPE html>
<html class="borderbox">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords %>">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="./css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript">
        // 判断是否为 IE 浏览器
        var browser = navigator.appName;
        // 判断 IE 浏览器的版本号
        var b_version = navigator.appVersion,
            version = b_version.split(';'),
            trimVersion = version[1].replace(/[ ]/g, ''),
            trimVersionTrans = trimVersion.substr(4);
        // 如果访问的浏览器是 IE 浏览器，且版本号小于 9，
        // 则跳转到 /upgrade/index.html
        if ( browser == 'Microsoft Internet Explorer' && trimVersionTrans < 9 ) {
            window.location.href = '/upgrade/';
        }
    </script>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
